* {
  font-family: Arial;
}

.todo-input {
  padding: 5px;
  font-size: 18px;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list input[type="checkbox"] {
  margin-right: 7px;
}

.hidden {
  display: none;
}

.done {
  color: lightgray;
  font-style: italic;
  text-decoration: line-through; 
}