* {
  box-sizing: border-box;
  background-color: #BDD4DE;
}

body {
  font-family: 'Roboto Slab', Arial, serif;
}

h1, h2, h3 {
  font-family: 'Megrim', Arial, serif;
}

input, label, button {
  font-family: 'Roboto Slab', Arial, serif;
}

.todo-container {
  max-width: 520px;
  padding: 20px;
  margin: 0 auto;
  color: #2B3A42;
}

.todo-container h1 {
  margin-top: 0;
  text-align: center;
}

.todo-input {
  padding: 7px;
  font-size: 18px;
  width: 100%;
  outline: none;
  border: 1px solid #EFEFEF;
}

.todo-input:focus {
  border-color: #FF530D;
}

.todo-list {
  list-style: none;
  padding: 0;
  min-height: 25vh;
}

.todo-list input[type="checkbox"] {
  margin-right: 7px;
}

.todo-list li {
  padding: 10px 0;
  border-bottom: 1px solid #EFEFEF;
  transition: border-bottom-color 0.2s;
}

.todo-list li:hover {
  border-bottom-color: #FF530D;
}

.todo-remove {
  color: #FF530D;
  margin-right: 5px;
  padding: 1px;
  float: right;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
}

.todo-list li:hover .todo-remove {
  opacity: 0.2;
}

.todo-list li .todo-remove:hover {
  opacity: 1;
}

.todo-filters button {
  padding: 5px 10px;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  background: #3F5765;
  color: #EFEFEF;
  font-size: 16px;
  transition: border-color 0.2s;
  outline: 0;
}

.todo-filters .showAllButton {
  border: 1px solid #EFEFEF;
  background-color: #3F5765;
  color: #BDD4DE;
}

.todo-filters button:hover {
  border-color: #3F5765;
}

.todo-filters button:focus {
  border-color: #FF530D;
}

.hidden {
  display: none;
}

.done {
  color: #EFEFEF;
  font-style: italic;
  text-decoration: line-through; 
}